html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    color: #777777;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    background-color: black;
}

strong {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Coustard', Georgia, serif;
    font-weight: normal;
    line-height: 1.2em;
    padding: 0.5em 0 0.25em;
}

h1 {
    font-weight: bold;
    font-size: 3.2em;
    line-height: 1.1em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5, h6 {
    font-size: 1em;
}

a, a:link, a:visited {
    color: #11bad3;
    text-decoration: none;
}

.header {
    display:none;
    height: 50px;
    width: 100%;
}

.wrapper {
    overflow-x: hidden;
    overflow-y: visible;
}

.slide {
    display: table-cell;
    vertical-align: top;
    /* webkit workaround to prevent screen scroll (combined with inside div set to absolute)*/
    position: relative;
    /* this keeps tiny screens from overlapping divs like on an iPhone*/
}

.slide60ways {
    display: table-cell;
    vertical-align: top;
}

.slideImage {
}

.slideImage img {
    width: 200%;
}

.slideImage60ways img {
    width: 100%;
}

.slideImage60ways {
}

.slideInfo {
    /* webkit workaround to prevent screen scroll (combined with outside div	 set to relative)*/
    position: absolute;
    overflow: hidden;
    color: black;
    padding: 10px;
    text-align: left;
    -webkit-box-shadow: 3px 3px 7px 5px rgba(0, 0, 0, .5);
    box-shadow: 3px 3px 7px 5px rgba(0, 0, 0, .5);
    background-color: #F2F0E9;
}

.slider60waysHorz {
    background-color: black;
}

.slider60waysVert {
    background-color: black;
    width: 100%;
}

#slider1 {
    height: 60%;
    width: 100%;
    overflow: hidden;
    font-size: 1.25em;
}

#slider2 {
    height: 32%;
    float: left;
    width: 49%;
    overflow: hidden;
    font-size: 1em;
    margin-top: 2%;
    margin-right: 2%;
}

#slider3 {
    height: 32%;
    float: right;
    width: 49%;
    overflow: hidden;
    font-size: 1em;
    margin-top: 2%;
}

#prev, #next {
    position: absolute;
    height: 100%;
    width: 40%;
    right: 0;
    z-index: 100;

    background: -moz-linear-gradient(left,  rgba(125,185,232,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(125,185,232,0)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(125,185,232,0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(125,185,232,0) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(125,185,232,0) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(125,185,232,0) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#33000000',GradientType=1 ); /* IE6-9 */
}

#prev {
    left: 0;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.2) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.2) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.2) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.2) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.2) 0%,rgba(125,185,232,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

a:hover, a:active {

    background-color: red;
}


#copyright {
    padding: 5px;
    font-size: 50%;
    line-height: 2em;
}

.footer {
    text-align: center;
}